<button (click)="handleAdd()">Add Employee</button>

@for(employee of employees(); track employee.username) {
    <div class="employee">
        <p>{{ employee.username }}</p>
        <p>{{ employee.firstName }}</p>
        <p>{{ employee.lastName }}</p>
        <p>{{ employee.email }}</p>
        <p>{{ employee.birthDate }}</p>
        <p>{{ employee.basicSalary }}</p>
        <p>{{ employee.status }}</p>
        <p>{{ employee.group }}</p>
        <p>{{ employee.description }}</p>

        <div>
            <button (click)="handleDetail(employee.username)">Detail</button>
            <button (click)="handleEdit(employee.username)">Edit</button>
            <button (click)="handleDelete(employee.username)">Delete</button>
        </div>
    </div>   
}