<div class="login-wrapper">
  <div class="brand-section">
    <div class="brand-content">
      <div class="brand-logo-placeholder">
        <lucide-icon
          [img]="LayoutDashboard"
          size="32"
          strokeWidth="2"
          color="var(--text-on-brand)"
        ></lucide-icon>
        <app-typography variant="h3">Enterprise Systems</app-typography>
      </div>
      <app-typography variant="h1">Welcome to your workspace.</app-typography>
      <app-typography variant="body-lg">
        please enter username/password to
        <app-typography variant="highlight">admin/admin</app-typography>
      </app-typography>
    </div>
  </div>

  <div class="form-section">
    <div class="login-container">
      <div class="login-header">
        <app-typography variant="h2">Sign In</app-typography>
        <app-typography variant="body">Enter your credentials to continue.</app-typography>
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <app-text-input
          label="Username"
          placeholder="e.g. jdoe"
          formControlName="username"
        ></app-text-input>

        <app-password-input
          label="Password"
          placeholder="••••••••"
          formControlName="password"
          [showForgotPassword]="true"
        ></app-password-input>

        @if (errorMessage()) {
          <div class="alert-error">
            <app-typography variant="body" color="var(--error)">{{
              errorMessage()
            }}</app-typography>
          </div>
        }

        <app-button type="submit" [disabled]="loginForm.invalid" [fullWidth]="true">
          Sign In &rarr;
        </app-button>
      </form>

      <div class="login-footer">
        <app-typography variant="caption">
          Don't have an account? <a href="javascript:void(0)">Contact Admin</a>
        </app-typography>
      </div>
    </div>
  </div>
</div>
