<div class="login-wrapper">
  <div class="brand-section">
    <div class="brand-content">
      <div class="brand-logo-placeholder">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5" />
        </svg>
        <span>Enterprise Systems</span>
      </div>
      <h1>Welcome to your workspace.</h1>
      <p>please enter username/password to admin/admin</p>
    </div>
  </div>

  <div class="form-section">
    <div class="login-container">
      <div class="login-header">
        <h2>Sign In</h2>
        <p>Enter your credentials to continue.</p>
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Username</label>
          <div class="input-wrapper">
            <input
              id="username"
              type="text"
              formControlName="username"
              placeholder="e.g. jdoe"
              [class.error]="loginForm.get('username')?.invalid && loginForm.get('username')?.dirty"
            />
          </div>

          @if (loginForm.get('username')?.invalid && loginForm.get('username')?.dirty) {
            <small class="error-msg">Username is required</small>
          }
        </div>

        <div class="form-group">
          <div class="label-row">
            <label for="password">Password</label>
            <a href="javascript:void(0)" class="forgot-link">Forgot password?</a>
          </div>
          <div class="input-wrapper">
            <input
              id="password"
              type="password"
              formControlName="password"
              placeholder="••••••••"
              [class.error]="loginForm.get('password')?.invalid && loginForm.get('password')?.dirty"
            />
          </div>

          @if (
            loginForm.get('password')?.dirty && loginForm.get('password')?.errors?.['required']
          ) {
            <small class="error-msg">Password is required</small>
          }
          @if (
            loginForm.get('password')?.dirty && loginForm.get('password')?.errors?.['minlength']
          ) {
            <small class="error-msg">Password must be at least 3 characters</small>
          }
        </div>

        @if (errorMessage()) {
          <div class="alert-error">
            {{ errorMessage() }}
          </div>
        }
        <button type="submit" [disabled]="loginForm.invalid" class="btn-login">
          Sign In &rarr;
        </button>
      </form>

      <div class="login-footer">
        <p>Don't have an account? <a href="javascript:void(0)">Contact Admin</a></p>
      </div>
    </div>
  </div>
</div>
